.hbox {
    -fx-background-color: #2d3546;
}

.label {
    -fx-text-fill: #abb2bf;
    -fx-font-family: 'Souego UI'; 
}

#balanceLabelId {
    -fx-text-fill: #abb2bf;
    -fx-font-size: 16;
    -fx-font-family: 'Souego UI'; 
}