.hbox {
    -fx-background-color: #2d3546;
}

.label {
    -fx-text-fill: #abb2bf;
    -fx-font-family: 'Souego UI'; 
}

#balanceLabelId {
    -fx-text-fill: #abb2bf;
    -fx-font-size: 16;
    -fx-font-family: 'Souego UI'; 
}

#bankNameLabel {
    -fx-text-fill: #009cde;
    -fx-font-size: 14;
}

#vBoxMainBack {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
#hBoxMainBack {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}