#anchorPane {
    -fx-background-color: #12151c;
}
.table-view {
    -fx-background-color: transparent;
}

#titleId {
    -fx-text-fill: #abb2bf;
    -fx-font-size: 20;
    -fx-font-family: "Segoe UI";
}

.table-cell { 
    -fx-padding: 0.5em 0.5em 0.1em 0.3em;
    -fx-border-color: -fx-box-border -fx-box-border transparent transparent;
    -fx-font: 13px "Segoe UI";
    -fx-border-insets: 0;
}

.table-row-cell:empty, .table-cell-empty:hover {
    -fx-background-color: #abb2bf;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-view .column-header .label {
    -fx-text-fill: #12151c;
    -fx-alignment: center;
}

.table-view .column-header {
    -fx-background-color: #abb2bf;
}




