#bganchorpane {
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #12151c;
}

.text-field {
    -fx-background-color: #1b222c;
    -fx-text-inner-color: #abb2bf;
    -fx-prompt-text-fill: #354357;
    -fx-border-color: #1b222c;
}

.text-field:focused {
    -fx-border-color: #661b1c;
    -fx-border-width: 2px;
}

#loginButton {
    -fx-background-color: #661b1c;
    -fx-text-fill: #abb2bf;
}
