#hboxpane {
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #12151c;
}

.text-field {
    -fx-background-color: #1b222c;
    -fx-text-inner-color: #abb2bf;
    -fx-prompt-text-fill: #354357;
    -fx-border-color: #1b222c;
}

.text-field:focused {
    -fx-border-color: #009cde;
    -fx-border-width: 1px;
}

#loginButton {
    -fx-background-color: #009cde;
    -fx-text-fill: #12151c;
    font-weight: bold;
}

#errorMsg {
    -fx-text-fill: #FF6F59;
    -fx-font-size: 12px;
}