#borderPaneId {
    -fx-background-color: #12151c;
}

#tittleId {
    -fx-text-fill: #abb2bf;
    -fx-font-size: 25;
    -fx-font-family: 'Souego UI'; 
}

.label {
    -fx-text-fill: #abb2bf;
    -fx-font-size: 12;
    -fx-font-family: 'Souego UI'; 
}

.text-field {
    -fx-background-color: #1b222c;
    -fx-text-inner-color: #abb2bf;
    -fx-prompt-text-fill: #354357;
    -fx-border-color: #1b222c;
}

#confirmButton {
    -fx-background-color: #009cde;
    -fx-text-fill: #12151c;
    -fx-font-size: 12;
    -fx-font-family: 'Souego UI'; 
}

#cancelButton {
    -fx-background-color: #FF6F59;
    -fx-text-fill: #12151c;
    -fx-font-size: 12;
    -fx-font-family: 'Souego UI'; 
}

.combo-box-style {
    -fx-background-color: #1b222c;
    -fx-text-inner-color: #abb2bf;
}