#paneGastos {
    -fx-background-color: #12151c;
}

#tituloGastoId {
    -fx-text-fill: #abb2bf;
    -fx-font-size: 20;
}

.label {
    -fx-text-fill: #abb2bf;
    -fx-font-size: 12;
    -fx-font-family: 'Souego UI'; 
}

#insId {
    -fx-text-fill: #abb2bf;
    -fx-font-size: 12;
}

.text-field {
    -fx-background-color: #1b222c;
    -fx-text-inner-color: #abb2bf;
    -fx-prompt-text-fill: #354357;
    -fx-border-color: #1b222c;
}

#registerPagoButton {
    -fx-background-color: #009cde;
    -fx-text-fill: #12151c;
    -fx-font-size: 12;
    -fx-font-family: 'Souego UI'; 
}

#cancelPagoButton {
    -fx-background-color: #FF6F59;
    -fx-text-fill: #12151c;
    -fx-font-size: 12;
    -fx-font-family: 'Souego UI'; 
}

.combo-box-style {
    -fx-background-color: #1b222c;
    -fx-text-inner-color: #abb2bf;
}

.menu-button {
    -fx-background-color: #1b222c;
    -fx-text-inner-color: #abb2bf;
}
.menu-button  {
    -fx-text-inner-color: #1b222c;
}

.check-box {
    -fx-text-fill: #abb2bf;
    -fx-font-size: 12;
    -fx-font-family: 'Souego UI'; 
}

.list-view {
    -fx-background-color: #282c34;
    -fx-control-inner-background: #282c34;
    -fx-text-fill: #abb2bf;
    -fx-font-size: 12;
    -fx-font-family: 'Segoe UI';
}

.list-cell {
    -fx-background-color: #282c34;
    -fx-text-fill: #abb2bf;
    -fx-font-size: 12;
    -fx-font-family: 'Segoe UI';
}

/* Scroll bar styling */
.scroll-bar:vertical .thumb {
    -fx-background-color: #3c3f41;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #3c3f41;
}

.scroll-bar .track {
    -fx-background-color: #3c3f41;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: #3c3f41;
}