#borderPaneId {
    -fx-background-color: #12151c;
}

#tittleId {
    -fx-text-fill: #abb2bf;
    -fx-font-size: 20PX;
    -fx-font-family: 'Souego UI'; 
}


.label {
    -fx-text-fill: #abb2bf;
    -fx-font-size: 12;
    -fx-font-family: 'Souego UI'; 
}

.text-field {
    -fx-background-color: #1b222c;
    -fx-text-inner-color: #abb2bf;
    -fx-prompt-text-fill: #354357;
    -fx-border-color: #1b222c;
}

#confirmButton {
    -fx-background-color: #1b222c;
    -fx-text-fill: #523cdd;
    -fx-font-size: 12;
    -fx-font-family: 'Souego UI'; 
}

#confirmButton:hover {
    -fx-background-color: #303b4b;

}

#cancelButton {
    -fx-background-color: #1b222c;
    -fx-text-fill: #FF6F59;
    -fx-font-size: 12;
    -fx-font-family: 'Souego UI'; 
}

#cancelButton:hover {
    -fx-background-color: #303b4b;
}

.combo-box-style {
    -fx-background-color: #1b222c;
    -fx-text-inner-color: #abb2bf;
}

.check-box {
    -fx-text-fill: #abb2bf;
    -fx-font-size: 12;
    -fx-font-family: 'Souego UI'; 
}

.list-view {
    -fx-background-color: #282c34;
    -fx-control-inner-background: #282c34;
    -fx-text-fill: #abb2bf;
    -fx-font-size: 12;
    -fx-font-family: 'Segoe UI';
}

.list-cell {
    -fx-background-color: #282c34;
    -fx-text-fill: #abb2bf;
    -fx-font-size: 12;
    -fx-font-family: 'Segoe UI';
}

/* Scroll bar styling */
.scroll-bar:vertical .thumb {
    -fx-background-color: #3c3f41;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #3c3f41;
}

.scroll-bar .track {
    -fx-background-color: #3c3f41;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: #3c3f41;
}